@font-face {
  font-family: "SIMPLIFICA";
  src: url("/fonts/SIMPLIFICA.ttf");
}
/* @font-face {
  font-family: "Tengel";
  src: url("/fonts/tengel__.ttf");
} */

@font-face {
  font-family: "bob";
  src: url("/fonts/uncle-bob-mf-cufonfonts/bob.ttf");
}

html, body{
  @apply w-screen min-w-screen bg-red-400 overflow-x-hidden tracking-wider;
  width: 100wv;
}

/* http://www.identifont.com/similar?3U3 */
:root {
  font-family: 'SIMPLIFICA', Avenir, Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #213547;
  box-sizing: border-box;
  --main-c:rgba(9, 81, 16, 0.8);
  --neon-c:rgba(176, 255, 5, 0.8);
  --peach-c:rgba(255, 173, 73, 0.4);
}

.header-color {
  color: var(--main-c);
}
.neon-color {
  color: var(--neon-c);
}


h1 {
  @apply text-9xl font-semibold;
  @apply <sm: (text-5xl);
}

h2 {
  @apply text-4xl  font-medium;
  @apply <sm: (text-2xl);
}

h3 {
  @apply text-3xl  font-medium;
  @apply <sm: (text-xl);
}

h4 {
  @apply text-xl font-medium;
  @apply <sm: (text-lg);
}

p,li,ul,a {
  @apply text-xl font-medium;
  @apply <sm: (text-lg);
}

li{
  a{
    @apply  text-blue-400 underline-dotted underline-2 underline-blue-gray-200 underline-offset-2;
  }
}

.dark{
  li{
    a{
      @apply  text-blue-400 underline-dotted underline-2 underline-blue-gray-200 underline-offset-2;
    }
  }
}

.content{

  @apply w-9/12 <sm: (w-full);

}

.cta-text{

  @apply text-rose-600 dark:(text-rose-500) font-black;

}


ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1.5rem;
}

ul ul {
  list-style-type: circle;
  padding-left: 1.5rem;
}

.code-family {
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

img[alt="img-sm"]
{
  @apply  w-46;
}
img[alt="img-lg"]
{
  @apply  w-96;
}

/* ----------------  */

.x-banner{
  @apply  w-full bg-orange-300 h-12;
}
.x-love{
  @apply  w-full bg-pink-400 h-12 text-2xl;
}

.x-banner-a1{
  @apply  w-full bg-orange-300 h-12  object-cover overflow-hidden opacity-100;
  background-image: url('/img/marble/SKM_C65823022714112.pdf.png');
  background-size: cover;
  background-clip: border-box;
}
.x-banner-a1::after{
  @apply absolute w-full h-12 object-cover max-h-12 overflow-hidden opacity-75 mix-blend-screen;
  content: '';
  background-image: url('/img/marble/SKM_C65823022714132.pdf.png');
  background-clip: border-box;
}

.x-banner-a2{
  @apply  w-full bg-orange-300 h-12  object-cover overflow-hidden opacity-100;
  background-image: url('/img/marble/SKM_C65823022714180.pdf.png');
  background-size: cover;
  background-clip: border-box;
}
.x-banner-a2::after{
  @apply absolute w-full h-12 object-cover max-h-12 overflow-hidden opacity-75 mix-blend-screen;
  content: '';
  background-image: url('/img/marble/SKM_C65823022714182.pdf.png');
  background-clip: border-box;
}



.hero {
  @apply !text-7xl !my-3rem !font-light;
  @apply <sm: ( !text-5xl);
}

.h1 {
  /* @apply text-5xl my-2.65rem font-semibold; */
  @apply text-5xl font-semibold;
  @apply <sm: (text-3xl);
}

.h2 {
  /* @apply text-4xl my-1.25rem font-medium; */
  @apply text-4xl font-medium;
  @apply <sm: (text-2xl);
}

.h3 {
  /* @apply text-3xl my-1.2rem font-medium; */
  @apply text-3xl font-medium;
  @apply <sm: (text-xl);
}

.h4 {
  /* @apply text-xl my-2 font-medium; */
  @apply text-xl font-medium;
  @apply <sm: (text-lg);
}

.p {
  /* @apply text-lg my-2; */
  @apply text-lg;
  @apply <md: (text-base);
}

.base {
  @apply text-base;
}

.sm {
  @apply text-sm;
}

.code {
  @apply font-medium after: content-["`"] before:content-["`"] text-purple-500;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

.title {
  /* @apply my-8 font-bold; */
  @apply font-bold;
}

.link {
  @apply hover:(underline)
}