@font-face {
  font-family: "Tengel";
  src: url("/fonts/tengel__.ttf");
}

:root {
  font-family: Avenir, Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #213547;
  box-sizing: border-box
}

h2 {
  @apply text-4xl my-1.25rem font-medium;
  @apply <sm: (text-2xl);
}

h3 {
  @apply text-3xl my-1.2rem font-medium;
  @apply <sm: (text-xl);
}

h4 {
  @apply text-xl my-2 font-medium;
  @apply <sm: (text-lg);
}

p,li,ul {
  @apply text-lg my-2;
  @apply <md: (text-base);
}

li{
  a{
    @apply  text-blue-400 underline-dotted underline-2 underline-blue-gray-200 underline-offset-2;
  }
}

.dark{
  li{
    a{
      @apply  text-blue-400 underline-dotted underline-2 underline-blue-gray-200 underline-offset-2;
    }
  }
}


ul {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: 1.5rem;
}

ul ul {
  list-style-type: circle;
  padding-left: 1.5rem;
}

.code-family {
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
}

img[alt="img-sm"]
{
  @apply  w-46;
}
img[alt="img-lg"]
{
  @apply  w-96;
}

/* ----------------  */

.x-banner{
  @apply  w-full bg-orange-300 h-12;
}
.x-love{
  @apply  w-full bg-pink-400 h-12 text-2xl;
}